.authors {
    display: grid;
    grid-template-columns: repeat(2, 25%);
    grid-template-rows: repeat(3, 50%,25%,25%);
    grid-template-areas: 1/1/4/4;
    grid-gap: 1%;
    width: 100%;
    height: 100%;
}

img {
    grid-area: 1/2/4/3;
}

p {
    grid-area: 1/1/2/2; 
}

