body {
    width: 100%;
    font-size: 100%;
    background-image: url("../images/salmon_salad.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}


.recipe {
    text-align: center;
    background-color: whitesmoke;
    opacity: 0.8;
    font-weight: bold;
    padding: 5%;
    margin: 5%;
}

@font-face {
    font-family: 'socialMedia';
    src:  url('fonts/socialMedia.eot?r956sg');
    src:  url('fonts/socialMedia.eot?r956sg#iefix') format('embedded-opentype'),
      url('fonts/socialMedia.ttf?r956sg') format('truetype'),
      url('fonts/socialMedia.woff?r956sg') format('woff'),
      url('fonts/socialMedia.svg?r956sg#socialMedia') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'socialMedia' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-twitter:before {
    content: "\ea96";
  }

  .title > a {
    text-decoration: none;
  }
