body {
    width: 100%;
    background-image: url("../images/train.webp");
    background-size: cover;
    background-position: center;
    margin: 0;
    
}


.workout {
    text-align: center;
    background-color: azure;
    opacity: 0.8;
    font-weight: bold;
    padding: 5%;
    margin: 5%;
}

